<!DOCTYPE html>
<!-- <html manifest="manifest.appcache" lang="<%= lang %>" dir="<%= dir %>"> -->
<html lang="<%= language %>" dir="<%= direction %>">
	<% include ../metadata %>
	<body>
		<%- body %>
		<% include ../scripts %>
	</body>
</html>