<div itemscope itemtype="http://schema.org/Person">
	<h2 itemprop="name">Marco Aurélio Dilda Campos</h2>
	<div id="bio">
		<img alt="<%= __('Uma foto minha.') %>" src="/img/pic.jpg" id="photo"/>
		<p><%= __('Sou estudante de Ciência da Computação pela Universidade Federal do Mato Grosso.') %></p>
		<p><%= __('Atualmente, participo de um grupo de pesquisa de governo eletrônico') %> <a href="http://www.ic.ufmt.br:8080/web/guest/lavi" title="Social eGov">Social eGov</a>.</p>
		<p><%= __('Me interesso por design, usabilidade e desenvolvimento de jogos e web. Tenho experiência com as linguagens de programação: Java, C, Pascal, PHP, HTML e Javascript, e já fiz alguns trabalhos menores com Python, Fortran e Lua.') %></p>
		<p><%= __('Mais trabalhos podem ser vistos no meu') %> <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4467388U9" title="Meu Curriculo Lattes"><%= __('Curriculo Lattes') %></a>.</p>
		<p><%= __('Você pode me achar nas redes sociais ou por') %> <a itemprop="email" href="mailto:maurelio.campos@gmail.com">email</a>.</p>
		<div id="social">
			<a href="http://www.twitter.com/madcampos/" title="Minha página no Twitter" id="twitter"></a>
			<a href="http://www.facebook.com/maurelio.campos/" title="Minha página no Facebook" id="facebook"></a>
			<a href="https://plus.google.com/103835263970159842352/" title="Minha página no Google+" id="google"></a>
		</div>
	</div>
</div>