<nav id="lang-settings" role="navigation">
	<ul>
		<li><a href="<%= url %>"><img src="/img/flags/br.png" alt="<%= __('Português do Brasil') %>"></a></li>
		<li><a href="<%= url.replace(/^http:\/\//, 'http://pt.') %>"><img src="/img/flags/pt.png" alt="<%= __('Português') %>"></a></li>
		<li><a href="<%= url.replace(/^http:\/\//, 'http://en.' %>"><img src="/img/flags/us.png" alt="<%= __('Inglês') %>"></a></li>
	</ul>
</nav>